body {
	height: 100vh;
	background-color: #000;
	font-family: Poppins, sans-serif;
	font-style: normal;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #fff;
}

a:active,
a:hover,
a {
	color: #fff;
	text-decoration: none;
}

.content {
	height: 100%;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.button {
	display: block;
	padding: 9px 20px 13px;
	background-color: #fff;
	font-size: 16px;
	letter-spacing: 0.4px;
	color: #000;
	border-radius: 14px;
	transition: .2s;

	&:hover {
		color:#000;
		box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.593);
	}
}

.header {
	background-color: #181818;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;

	.content {
		padding: 24px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		section {
			text-align: center;
		}

		> div {
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}

	&__logo {
		margin-left: 4px;

		img {
			display: block;
			width: 128px;
		}
	}

	&__links {
		display: flex;

		a {
			margin-left: 32px;
			font-size: 15px;
			transition: .2s;
		}

		.business-areas {
			margin-left: 0px;
			margin-right: 24px;
			font-size: 13px;
		}
	}

	&__button {
		margin-left: 31px;
		margin-right: 18px;
	}
}

.main {
	height: 100vh;
	background: url(../src/images/ApertureStudios/fullscreen-image.jpg) center/cover no-repeat fixed;

	// .content {
	// 	height: 100%;
	// 	max-width: 580px;
	// 	display: flex;
	// 	flex-direction: column;
	// 	justify-content: flex-end;
	// 	align-items: center;
	// 	text-align: center;
	// }
}

.aperture-studios {
	height: 100%;
	max-width: 580px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	text-align: center;

	&__creator p {
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #C0C0C0;
		margin-bottom: -30px;
	}

	&__title h1 {
		font-size: 54px;
		line-height: 59px;
		font-weight: 400;
	}

	&__subtitle p {
		margin-top: -10px;
		color: #C0C0C0;
	}
}
