body {
	height: 100vh;
	background-color: #000;
	font-family: Poppins, sans-serif;
	font-style: normal;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #fff;
}

a:active,
a:hover,
a {
	color: #fff;
	text-decoration: none;
}

.content {
	max-width: 1200px;
	margin: 0 auto;
}

.button {
	display: block;
	padding: 9px 20px 13px;
	background-color: #fff;
	font-size: 16px;
	letter-spacing: 0.4px;
	color: #000;
	border-radius: 14px;
	transition: .2s;

	&:hover {
		color:#000;
		box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.593);
	}
}

.header {
	background-color: #181818;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;

	.content {
		padding: 24px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		section {
			text-align: center;
		}

		> div {
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}

	&__logo {
		margin-left: 4px;

		img {
			display: block;
			width: 128px;
		}
	}

	&__links {
		display: flex;

		a {
			margin-left: 32px;
			font-size: 15px;
			transition: .2s;

			&:hover {
				border-bottom: 1px solid #fff;
			}
		}

		.business-areas {
			margin-left: 0px;
			margin-right: 24px;
			font-size: 13px;
			
		}
	}

	&__button {
		margin-left: 31px;
		margin-right: 18px;
	}
}

.main {
	margin-top: 90px;
	height: 100vh;
	background: url(../src/images/ApertureStudios/fullscreen-image.jpg) center/contain no-repeat fixed;
}